<div id="appcard">
    <div class="header">
        <a routerLink="/rate"><img src="/assets/logo.png" width="48" height="48"> Valūtu Kursi</a>
    </div>

    <router-outlet></router-outlet>

    <div class="footer">
        <small>Autors: Kristaps Enkuzens priekš TET full-stack programmētāju atlases uzdevuma<br>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </small>
    </div>
</div>
